*{
	margin: 0;
	padding: 0;
}
.background-primary{
    background-color: #00adef;
}
.background-secondary{
    background-color: #ffffff;
}
.menu-sup{
    background-color: #00adef;
}
content{
	margin-top: 75px;
}
#testimonial{
	background: #f1f1f1;
	padding: 50px 0 30px 0;
	text-align: center;
	margin-top: 40px;
}
#map{
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}
footer{
	background: url(../img/smartphones.png);
}
.up{
    display:inline-block;
	padding: 20px;
	background: #024959;
	font-size: 20px;
	color: #f1f1f1;
	cursor:pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}


